.create-course h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 40px;
  font-weight: bold;
  
}
.course-form {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

/* Heading */
.course-form h2 {
  text-align: center;
  color: #333;
}

/* Form layout */
.course-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Labels */
.course-form label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 25px;
}

/* Inputs */
.course-form input,
.course-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 22px;
}

/* Textarea height */
.course-form textarea {
  min-height: 100px;
  resize: vertical;
}

/* File input */
.course-form input[type="file"] {
  border: none;
}

/* Button */
.course-form button {
 
  padding: 12px 18px;
  border: none;
  background: linear-gradient(135deg, #4f46e5, #6d28d9);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.course-form button:hover {
  opacity: 0.9;
}

/* Button hover */
.course-form button:hover {
  background-color: #364ed8;
}