* {
  margin: 0;
  padding: 0;
}
.navbar {
  position: relative;   /* ✅ FIX */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(135deg, #4f46e5, #6d28d9);
}

.logo {
  font-weight: bold;
  font-size: 32px;
  color: white
}
.logo-image {
  width: 70px;
  height: 70px;
}
.logo span {
  margin-left: 0px;
  font-size: 28px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
  color: white
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links :link {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: white;
  list-style: none;
}

.register-btn {
  background-color: white;
  color: #6d28d9;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 25px;
}

.register-btn:hover {
  opacity: 0.9;
}

.nav-link {
  text-decoration: none;
  color: white; /* unvisited */
  margin: 0 15px;
  font-size: 18px;
}

.nav-link:visited {
  color: white; /* visited */
}

.nav-link:hover {
  opacity: 0.5; /* hover */
}

.active-link {
  color: white; /* active page */
  font-weight: bold;
}
.main-content {
  margin-top: 70px; /* navbar height jetlu */
}