.header {
  margin-bottom: 20px;
}


/* CARDS */

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  min-width: 200px;

  background: white;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}


/* COURSES */

.course-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.course-card {
  background: white;
  padding: 20px;
  border-radius: 10px;

  width: 220px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.course-card button {
  margin-top: 10px;
  width: 100%;

  padding: 10px;
  border: none;
  border-radius: 6px;

  background: linear-gradient(to right, #4f46e5, #7c3aed);
  color: white;
  cursor: pointer;
}