<<<<<<< HEAD
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: linear-gradient(135deg, #4f46e5, #6d28d9);
  color: white;
  padding: 20px;
  position: relative;
  z-index: 10;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 20px;
  background: #f5f6fa;
}
=======
.layout {
  display: flex;
}


.main-content  {
  width: calc(100% - 260px);
}
.sidepanel {
  width: 240px;
}

/* .layoutdev{
  display: flex;
}

.sidebardev{
  background-color: red;
  min-height: 90vh;
  width: 244px;
}

.main-content1{
  background-color: yellow;
}

.main-content-open-width{
 width: calc(100% - 250px);
}

.main-content-close-width{
  width: 100%;
} */
>>>>>>> b3abe412cd8aa0f0809c45a97e1b398092f2e819
